<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Appium">

    <test name="Medium Phone">
        <classes>
            <class name="org.akavity.DemoTest">
                <methods>
                    <include name="selectPromo"/>
                    <include name="selectSpecialOfferButton"/>
                    <include name="moveThroughCatalog"/>
                    <include name="selectLocation"/>
                    <include name="loginToAccount"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
